// button
.blisss-button {
  $theme: $primary-color;
  .theme.#{$theme} & {
    &--flat {
      color: rgba(white, 1);

      &:hover     { background-color: rgba(#ccc, .15); }
      &:active    { background-color: rgba(#ccc, .25); }
      &[disabled] { color: rgba(white, .3); }
    }
    &--raised {
      background-color: find-color($theme);
      color: rgba(white, 1);

      &:hover     { background-color: find-color($theme, 600); }
      &:active    { background-color: find-color($theme, 700); }
      &[disabled] { background-color: rgba(white, .12); color: rgba(white, .30); }
    }
  }
}
