html, body {
  width: 100%;
  height: 100%;
}

.material-container {
  width: 100%;
  height: 100%;
  position: relative;
  @include flex-single(flex-start, column wrap);
}

.material-appbar {
  min-width: 100%;
  position: relative;
}
.material-appbar__line {
  min-height: 64px; min-width: 100%;
  @include flex-single(space-between);
  & > .material-appbar__title {
    padding-left: 72px !important;
    @include typography(r, 34, white, .87, 1a);
  }
}
.material-appbar__container {
  @include flex-single(flex-start);
}
.material-appbar__title {
  @include typography(r, 16, white, 1, 1a);
  padding-left: 24px;
}


.material-sidenav {

  &--left {
    @extend %fit;
    pointer-events: none;
    .material-bg { pointer-events: none; }
    .material-sidenav__container {
      min-width: 256px;
      left: 0;
      z-index: 3;
      transform: translate(-100%, 0);
    }
    &.material-sidenav--active {
      .material-sidenav__container {
        transform: translate(0, 0);
        @include transition(transform);
      }
      .material-bg {
        background-color: rgba(black, .3);
        @include transition(background-color);
        pointer-events: auto;
      }
    }
  }
  &--right {
    .material-sidenav__container {
      right: 0;
      z-index: 0;
    }
  }
}
.material-sidenav__container {
  min-height: 100%;
  position: fixed;
  top: 0;
  background-color: white;
  @include transition(transform);
}
.material-sidenav__header {
  padding: 16px 16px 8px;
}
.material-sidenav__user {
  min-height: 56px !important;
  @include flex-single(flex-start, row nowrap);
}
.material-sidenav__user-container {
  @include flex-single-item(1, 1, 1);
}
.material-sidenav__filter {
  @include flex-single-item(2);
  min-width: 24px; min-height: 24px;
  padding-left: 16px;
  @include flex-single();
  .material-shape--triangle {
    @include shape-triangle(5px, rgba(black, .54));
  }
}
.material-sidenav__username { @include typography(m, 14, black, .54, 4a); }
.material-sidenav__emall    { @include typography(r, 14, black, .54, 4b); }







.material-canvas {
  @include flex-single-item(1, 1, 1);
  min-width: 100%;
}
