/**
  Blisss Buttons


*/
$namespace: "blisss-button";

.#{$namespace} {
  border: medium none;
  font-family: inherit;
  white-space: nowrap;
  position: relative;
  cursor: pointer;
  @extend .tx-btn;
  &::-moz-focus-inner { border: 0; }
  //&, &:hover, &:active { @include transition(all, 0.28s); }

  // reset size and background
  @at-root {
    %rect {
      min-width: 88px;
      height: 36px;
      padding: 0 8px;
      margin: 0 4px;
      border-radius: 2px;
    }
    &--flat {
      @extend %rect;
      background-color: transparent;
    }
    &--raised {
      @extend %rect;
      background-color: white;
    }
    &--action {
      background-color: find-color(pink, a700);
      border-radius: 50%;
      width: 40px; height: 40px;
      &.large { width: 56px; height: 56px; }
      .blisss-button__content {
        color: white; @include flex();
      }
    }
  }

  // states
  @at-root {
    &--flat {
      &:hover     { background-color: rgba(#999, .2); }
      &:active    { background-color: rgba(#999, .4); }
      &[disabled] { color: rgba(black, .26); }
    }
    &--raised {
      &[disabled] { background-color: rgba(black, .12); color: rgba(black, .26); }
    }
  }
}
