$namespace: layout;

$flex-direction: ("row", "row-reverse", "column", "column-reverse") !default;
$flex-wrap: ("wrap", "nowrap", "wrap-reverse") !default;
$justify-content: ("center", "flex-start", "flex-end", "end", "space-between", "space-around") !default;
$align-content: ("center", "flex-start", "flex-end", "end", "space-between", "space-around", "stretch") !default;
$align-items: ("center", "flex-start", "flex-end", "baseline", "stretch") !default;

%flex {
  display: flex;
  flex-flow: unquote(nth($flex-direction, 1)) unquote(nth($flex-wrap, 1));
  justify-content: unquote(nth($justify-content, 1));
  align-content: unquote(nth($align-content, 1));
  align-items: unquote(nth($align-items, 1));
}
%flex-left {
  justify-content: unquote(nth($justify-content, 1));
}
%flex-item {
  order: 0;
  flex: 0 0 auto;
  align-self: auto;
  min-height: auto;
  min-width: auto;
}

@mixin flex-single($justify: center, $direction: row, $items: center) {
  display: flex;
  flex-flow: $direction nowrap;
  justify-content: $justify;
  align-content: center;
  align-items: $items;
}

@mixin flex-single-item($order: 0, $grow: 0, $shrink: 0) {
  order: $order;
  flex: $grow $shrink auto;
}
