@mixin flex($items: null, $justify: null) {
  display: flex;
  flex-wrap: wrap;
  @if $justify { justify-content: flex-position($justify); }
  @if $items { justify-content: flex-position($items); }
}

@mixin flex-item($grow: null, $order: null) {
  flex: flex-grow($grow);
  @if $order { order: flex-order($order); }
}
