/*------------------------------------*\
    #Default Variables
\*------------------------------------*/
$sys-perfix: "blisss";

/*------------------------------------*\
    #Perfix
\*------------------------------------*/
$blisss-css-perfix: false;

/*------------------------------------*\
    #Color
\*------------------------------------*/
$blisss-primary-color: find-color("indigo");
$blisss-error-color: find-color("red");

/*------------------------------------*\
    #Base
\*------------------------------------*/
/**
 * Typography.
 */
$global-base-font-size: 14px !global;
$global-base-line-height: 1.4 !global;
$global-base-font-family: sans-serif !global;
$global-base-heading-size: (
  h1: 4.2rem,
  h2: 3.56rem,
  h3: 2.92rem,
  h4: 2.28rem,
  h5: 1.64rem,
  h6: 1rem
) !global;

/*------------------------------------*\
    #Layout
\*------------------------------------*/

/**
 * Response flag.
 */
$blisss-global-enable-responsive: true !global;

/**
 * Breakpoints definition.
 *
 * 1. small name.
 * 2. medium name.
 * 3. large name.
 */
$blisss-global-small-breakpoint-name:   "x" !global; /* [1] */
$blisss-global-medium-breakpoint-name:  "xx" !global; /* [2] */
$blisss-global-large-breakpoint-name:   "xxx" !global; /* [3] */

$blisss-global-breakpoints: (
  "#{$blisss-global-small-breakpoint-name}":    320px,
  "#{$blisss-global-medium-breakpoint-name}":   768px
) !global;

/**
 * Width flag.
 */
$blisss-global-enable-export-width: true !global;
$blisss-global-enable-export-responsive-width: $blisss-global-enable-responsive !global;




/**
 * Grid system.
 */
// Still use twelve grid build system.
$global-layout-grid-columns: 12 !global;

// Set simple gutter for every cell. There should be another size like
// `tiny`, `small`, `large`, `huge`.
$global-layout-grid-gutter: 12px !global;

$global-layout-grid-enable-respond: true !global;
$global-layout-grid-enable-span: true !global;
$global-layout-grid-enable-offset: false !global;
